.opening-crawl {
  .crawler {
    color: color(amber);
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 150%;
    text-align: justify;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin-top: 50px;
    text-transform: uppercase;
  }
      
     /* Animation */
  // .anim-typewriter{
  //   animation: typewriter 4s steps(44) 1s 1 normal both,
  //   blinkTextCursor 500ms steps(44) infinite normal;
  // }
  // @keyframes typewriter{
  //   from{width: 0;}
  //   to{width: 100%;}
  // }
  // @keyframes blinkTextCursor{
  //   from{border-right-color: rgba(255,255,255,.75);}
  //   to{border-right-color: transparent;}
  // }
}